# Dependencies
node_modules/

# Environment variables
.env

# Uploaded files
uploads/
backend/uploads/

# macOS
.DS_Store

# Logs
*.log

# VS Code
.vscode/

# npm
npm-debug.log*node_modules/
backend/node_modules/
.env
.DS_Store
